* {margin:0;padding:0;box-sizing:border-box;}
img { width:300px; }
header {
	text-align: center;
	padding: 20px;
}

a {
	color: #787F78;
	text-decoration: none;
}

nav a{
	color: #787F78;
	margin-right: 20px;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
}

footer{
	padding: 20px;
	background-color: #3C403C;
}

#slogan {
	font-style: italic;
}

#logo {
	height: auto;
	width: 200px;
	display: block;
	margin:0 auto;
}

#hero {
	height: 90vh;
	background: url(../images/Hero2.png);
}



